button { padding: 1.6rem 3rem; border-radius: 25px; border: none; text-transform: uppercase; color: #fff; font-size: 1.6rem; background-color: #f17b2d;
 }

 .svg-inline--fa { width: 2rem; height: 2rem }