.grid { width: 100%; border-collapse: collapse; }
.grid table { margin: 2rem auto; }
.grid tr {  }
.grid td { }
.grid .blank div { border: none; background-color: transparent; }
.grid .is-bonus { background-color: gold; }

.grid table div {border:1px solid #666; border-radius: 3px; width: 4rem; height: 4rem;  margin: .25rem; padding: .5rem; background-color:#fff; text-align: center; font-size: 2rem;  line-height: 2;
}

.entered-letters { height: 4rem; width: 100%; max-width: 40rem; background-color: #f17b2d; border-radius: 5px; color:#fff; font-size: 3rem; text-align: center; margin: 2rem auto; display: flex; align-items: center; justify-content: center; letter-spacing: .5rem;  }

.check-word { text-align: center;  margin: 2rem auto; }

.isWordFound { background-color: yellow; }

.feedback { height: 4rem; width: 100%; max-width: 40rem;  border-radius: 5px; color:#fff; font-size: 3rem; text-align: center; margin: 2rem auto; display: flex; align-items: center; justify-content: center; letter-spacing: .5rem; }
.feedback--correct { background-color: lime; }
.feedback--incorrect { background-color: red; }
