/*! Action Buttons */

.actions-bar { display: flex; justify-content: space-between; align-items: center; }

.actions-bar .timer-wrapper { display: flex; justify-content: center; align-items: center; 
    font-family: $amatic; font-size: 3rem; position: relative; }
.actions-bar .timer-wrapper p { margin-left: 1rem; }
.actions-bar .timer-wrapper span { font-weight: 700; }

.actions-bar .timer-wrapper .icon-clock { width: 2.4rem; height: 2.4rem; }
.actions-bar .timer-wrapper .icon-button { position: absolute; left: 9.5rem; }

.actions-bar .action-word { display: flex; justify-content: center; align-items: center; }

.action-word .disabled { opacity: .5; }
.action-word .icon-button { margin-left: 1.6rem; margin-right: auto; }

.actions-bar.no-timer { justify-content: center; }
.actions-bar.no-timer .icon-button { margin-left: .8rem; margin-right: .8rem; }