
.fail { position: absolute; top: 0; left: 0; bottom: 0; right:0; background: $feedback-incorrect; color: #fff; text-align: center; z-index: 20; padding: 4rem; justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.fail h1 { font-family: $amatic; font-size: 3.6rem; text-transform: uppercase; margin-bottom: 3.6rem;  }
.fail.active { display: block; }
.fail-wrapper { display: flex; justify-content: center;  flex-direction: column; height: 100%; align-items: center; }