

//.grid { width: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width: 100%; max-width: 50rem; margin: 2rem auto; }

//.grid .words { flex: 0 0 50%;}

.grid { padding: 2.5rem 0; margin-left: -.4rem; margin-right: -.4rem; }
.grid .blank div { border: none; background-color: transparent; }
.grid .is-bonus { background-color: gold; }

.entered-letters { height: 4rem; width: 100%; max-width: 40rem; background-color: #f17b2d; border-radius: 5px; color:#fff; font-size: 3rem; text-align: center; margin: 2rem auto; display: flex; align-items: center; justify-content: center; letter-spacing: .5rem;  }

.check-word { text-align: center;  margin: 2rem auto; }

.isWordFound { }
.list span { color:#fff; }
.list.isWordFound span { background-color: $teal; animation: scaling .5s 1 forwards; }

.isWordFound span:nth-child(1) { animation-delay: .25s }
.isWordFound span:nth-child(2) { animation-delay: .5s }
.isWordFound span:nth-child(3) { animation-delay: .75s }
.isWordFound span:nth-child(4) { animation-delay: 1s }
.isWordFound span:nth-child(5) { animation-delay: 1.25s }
.isWordFound span:nth-child(6) { animation-delay: 1.5s }
.isWordFound span:nth-child(7) { animation-delay: 1.75s }
.isWordFound span:nth-child(8) { animation-delay: 2s }

@keyframes scaling {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.4); }
    100% { transform: scale(1.0); }
}

.list  { margin:0 auto; width: 100%; /* max-width: 25rem; */ }
.list span { font-family: $alfa-slab; font-size: 3rem; background-color: #FAE898; display: inline-block; width: 3.6rem; height: 3.6rem; margin: .4rem; padding: .4rem; text-align: center; border-radius: .5rem; transition: all 1s; line-height: 3rem;}

@media(min-width: 375px){
	.list span { font-size: 3rem;  width: 4.8rem; height: 4.8rem; line-height: 4rem;}
}


.current-word-wrapper { margin: 0 0 2rem 0; position: relative; display: flex; justify-content: center; align-items: center; }
.current-word-wrapper .icon-button { background-color: $teal; position: absolute; top:50%; transform:translateY(-50%); right:1rem; }
.current-word-wrapper .icon { width: 1.2rem; height: 1.2rem; }
.current-word { }

.word {  font-family: $alfa-slab; background-color: #FAE898; padding: 1rem; width: 100%; border-radius: .5rem; color: $grey; font-size: 3rem; text-align:center; height: 5rem; letter-spacing: .5rem; display: flex; justify-content: center; align-items: center;  }

@media(min-width: $md-width) and (min-height: $min-height){
	.list span {  width: 4rem; height: 4rem; font-size: 3rem; line-height: 3rem; }
	.grid { position: relative; left: 50%; transform: translateX(-50%); width: auto; display: inline-block; padding: 1.5rem 0; height: 34rem; }
	.word { max-width: 27.2rem; }

    .current-word-wrapper {display: inline-flex; justify-content: center; align-items: center; margin-left: auto; margin-right: auto; }

	.current-word { text-align: center; }
	.word { width: 30rem; }
}


// Mobile Positionng.
 
.grid { /* border: 1px solid red; */ 
position: absolute; top: 5.7rem; bottom: calc(6.8rem + 5.5rem + 6.6rem);  left: 0; right: 0; margin:0; overflow: auto; padding-left: 2.1rem; padding-right: 2.1rem; }

.current-word { /* border: 1px solid lime; */ 
height: 6.6rem; position: absolute; bottom: calc(6.8rem + 5.5rem); left: 0; right: 0; padding: 0 2.5rem 1.6rem 2.5rem; }

.keyboard  { /* border: 1px solid blue; */ 
position: absolute; height: 6.8rem; left: 0; width: 100%; bottom: 5.5rem;  }

.actions-bar { /* border: 1px solid purple; */ 
position: absolute; left: 0; width: 100%; bottom: 0; height: 5.5rem; padding: 0 2.5rem 1.8rem 2.5rem; }


@media(min-width: $md-width) and (min-height: $min-height){
    .grid { position: relative; left: 50%; top: auto; bottom: auto; right: auto; transform: translateX(-50%); }
}
