/*! Layout */

* { outline: 0 none; }

.word-scramble-layout { height: 100vh; }
.word-scramble-layout { position: relative; width: 100%; margin: 0 auto; padding: 2rem 2.5rem; }

body { color: $grey; background-color: $teal; height: 100vh; display: flex; justify-content: center; align-items: center; }

.word-scramble-layout { background: $yellow url('../img/pattern.svg') repeat center center;}

@media(min-width: $md-width) and (min-height: $min-height){

	.word-scramble-layout { overflow: hidden; width: 64rem; height: 59rem; box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.1); 
		border-radius: 1.6rem; }
}

.game-screen { opacity: 0; visibility: hidden; transition: all .55s ease-in-out; }
.game-screen.fade-in { opacity: 1; visibility: visible; }

.start-screen { opacity: 1; visibility: visible; transition: all .55s ease-in-out; }
.start-screen.fade-out { opacity: 0; visibility: hidden; }


/* Animate Game Items */
.game__header,
.grid, 
.current-word,
.keyboard,
.actions-bar { opacity: 0; visibility: hidden; transition: all .35s ease-in-out; }

.game__header { transition-delay: .4s; }
.grid {   transition-delay: .6s; }
.current-word { transition-delay: .8s; }
.keyboard  {  transition-delay: 1s; }
.actions-bar { transition-delay: 1.2s; }

.game-screen.fade-in .game__header,
.game-screen.fade-in .grid,
.game-screen.fade-in .current-word,
.game-screen.fade-in .keyboard,
.game-screen.fade-in .actions-bar { opacity: 1; visibility: visible; }