.modal-bg { background: rgba(0,0,0,.2); z-index: 19; position: fixed; left: 0; right: 0; top: 0; bottom: 0; display: none; }


.modal { position: fixed; top: 50%; left: 50%; background: $grey; color: #fff; border-radius: .8rem; z-index: 20; padding: 0; width: 30rem; height: 20rem; transform: translate(-50%,-50%); display: flex; flex-direction: column; display: none; 
  .close-button { top: 0; right: 0; transform: none;}
}
.modal__question { flex-grow: 1; display: flex; align-items: center; justify-content: center; text-align: center; padding: 2rem 4rem; font-size: 1.8rem; }
.modal__options { display: flex; border-top: .1rem solid #000; margin: 0;
  a { flex: 1; display: block; padding: 1.5rem 2rem; text-decoration: none; color: inherit; text-align: center; text-transform: uppercase; font-size: 1.6rem; letter-spacing: .1rem; font-weight: 600; }
  a + a { border-left: .1rem solid #000; }
  a:first-child { color: $primary-colour; }
}

.modal-bg--visible,
.modal--visible { display: flex; }



.paused { position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background-color: $yellow-light;  visibility:hidden; opacity:0; transition: all .5s ease-in-out; }

.paused.active { visibility: visible; opacity:1; }

.paused .inner-wrapper { display: flex; justify-content: center; align-items: center;     flex-direction: column; height: 100%; }

.paused h1 { font-family: $amatic; font-size: 3.6rem; font-weight: 700; color: $grey; margin-bottom: 2rem; text-transform: uppercase; margin-bottom: 1.6rem; }
.paused button { background-color: #fff; color: $orange; }

.paused .timer-wrapper { font-family: $amatic; font-size: 3rem; display: flex; justify-content: center; align-items: center; margin-bottom: 1.6rem; }
.paused .timer-wrapper p { margin-left: .5rem; }
.paused .timer-wrapper span { font-weight: 700;  }
.paused .timer-wrapper svg { width: 2.4rem; height: 2.4rem; }

.modal--full {  position: absolute; top: 0; left:0; bottom:0; right:0; width: 100%; height:100%; padding: 2.4rem; background-color: $yellow-light; color: #fff; visibility:hidden; opacity:0; transition: all .5s ease-in-out; z-index: 100; }

.modal--full.active { visibility: visible; opacity:1;}

.help h1 { font-family: $amatic; font-size: 3.6rem; font-weight: 700; color: $grey; margin-bottom: 4.8rem; text-transform: uppercase; margin-bottom: 1.6rem; }
.help .close-button { transform: translateY(0); position: absolute; top: 2.4rem; right: 2.4rem; width: 3.3rem; height: 3.3rem; } 
.help .icon { width: 3.3rem; height: 3.3rem; }
.help { color: $grey;  }
.help__copy p { font-family: $roboto; font-size: 1.2rem; margin-bottom: 2.4rem; }