header { display: flex; justify-content: space-between; align-items: center; 
 	p { color: $grey; font-family: $amatic; font-size: 3rem; }
}


.icon-button { width: 3.6rem; height: 3.6rem; background-color: $orange; border-radius: 50%;  display: flex; justify-content: center; align-items: center;  }
.icon { width: 1.8rem; height: 1.8rem; }