.timer { display: flex; align-items: center; justify-content: center; height: 100%; width: 5rem; }

.timer-shake {
  animation: timerShake 0.82s cubic-bezier(.36,.07,.19,.97) forwards infinite;
  transform: translate3d(0, 0, 0) scale(1);
  backface-visibility: hidden;
  perspective: 1000px;
  display: inline-block;
}

// @keyframes timerShake {
//   10%, 90% {
//     transform: translate3d(-1px, 0, 0);
//   }
  
//   20%, 80% {
//     transform: translate3d(2px, 0, 0);
//   }

//   30%, 50%, 70% {
//     transform: translate3d(-4px, 0, 0);
//   }

//   40%, 60% {
//     transform: translate3d(4px, 0, 0);
//   }
// }

@keyframes timerShake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) scale(1);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0) scale(1.2);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scale(1);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) scale(1.2);
  }
}
  
